@font-face {
  font-family: "iconfont"; /* Project id 4396129 */
  src: url('iconfont.woff2?t=1704185166712') format('woff2'),
       url('iconfont.woff?t=1704185166712') format('woff'),
       url('iconfont.ttf?t=1704185166712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e84c";
}

.icon-angle-up:before {
  content: "\e84d";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-xiangji:before {
  content: "\e90d";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-shipin:before {
  content: "\e60a";
}

.icon-fujin:before {
  content: "\e646";
}

.icon-pengyouquan:before {
  content: "\e6e9";
}

.icon-zhibo:before {
  content: "\e614";
}

.icon-gouwu:before {
  content: "\e899";
}

.icon-xiaochengxu:before {
  content: "\e619";
}

.icon-tianjia:before {
  content: "\eb89";
}

.icon-shezhi:before {
  content: "\eb8d";
}

.icon-youxi:before {
  content: "\e602";
}

.icon-sousuo1:before {
  content: "\e60c";
}

.icon-souyisou:before {
  content: "\e611";
}

.icon-kabao:before {
  content: "\e72a";
}

.icon-kanyikan:before {
  content: "\e60d";
}

.icon-biaoqing:before {
  content: "\e638";
}

.icon-fuwu:before {
  content: "\e61e";
}

.icon-saoyisao:before {
  content: "\ebb0";
}

.icon-tianjiauser:before {
  content: "\e693";
}

